.card-details-container{
    background-color: #ffffff3a;
    width: fit-content;
    height: fit-content;
    padding: 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}