.card{
    max-width: 60%;
  }
  
  .card-title{
    position: absolute;
    padding: 20px;
  }
  
  .card-date{
    position: absolute;
    padding-left: 20px;
    margin-top: 60px;
  }
  
  .card-temp{
    position: absolute;
    padding-left: 20px;
    margin-top: 260px;
    font-size: 50px;
  }
  
  .card-desc{
    position: absolute;
    padding-left: 20px;
    margin-top: 320px;
  }


  
  .weather {
    margin: auto;
    margin-top: 130px;
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #ffffff4e;
    border-radius: 60px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
  
  .icon-weather {
    position: absolute;
    top: -100px;
    width: 150px;
    height: 150px;
  }

  .title-city{
    color: #fff;
    margin-top: 40px;
  }

  .temp-card{
    font-size: 100px;
  }
  
  .custom-forecast{
    width: 100px;
    height: 100px;
    position: inherit;
  }
  .hr{
    margin: auto;
    margin-top: 80px;
    width: 85%;
  }

  .card-container{
    display: flex;
    justify-content: center;
}
.card-details{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 110px;
  gap: 20px;

}